@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@theme {
    --font-script: "Comfortaa",
        sans-serif;
    --color-pri: #f8f9fa;
    --color-sec: #a3b18a;
}

